body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 234, 222);
}

.song-title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40vw;
  margin-top: 10px;
}

.song-item {
  background: white;
  padding: 15px;
  box-shadow: 2px 0px 9px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  border: 1px solid #ddd;
  margin: 10px 0;
  width: 100%;
}

.play-button {
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 60px; /* Equal width and height for circular shape */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Increase font size for better visibility */
  cursor: pointer;
  margin-right: 20px;
  transition-duration: 0.3s;
}

.play-button:hover {
  background-color: #e0e0e0;
}

.play-button:active {
  transform: scale(0.95);
  background-color: #d0d0d0;
}

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.seekbar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: #ccc;
  outline: none;
  transition: opacity 0.2s;
  margin: 0 10px;
  cursor: pointer;
}

.seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: orange;
  cursor: pointer;
  border-radius: 50%;
  opacity: 1;
  transition-duration: 0.2s;
}

.seekbar::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.seekbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.time-start,
.time-end {
  font-size: 14px;
  color: rgb(0, 0, 0);
  width: 30px; /* Adjust width as needed */
  text-align: center;
}

/* General mobile adjustments */
@media (max-width: 768px) {
  .song-container {
    max-width: 88vw; /* Expand the container on mobile */
  }

  .song-item {
    padding: 20px; /* Increase padding for more breathing room */
    border-radius: 15px;
    margin: 15px 0; /* Add more margin for mobile spacing */
  }

  .play-button {
    width: 50px; /* Slightly smaller for mobile */
    height: 50px;
    font-size: 24px; /* Adjust font size for better scaling */
    margin-right: 15px;
  }

  .seekbar-container {
    margin-top: 15px; /* Add more spacing for seekbar on mobile */
  }

  .seekbar {
    height: 5px; /* Make the seekbar thicker for mobile */
    cursor: pointer;
  }

  .seekbar::-webkit-slider-thumb {
    width: 15px; /* Increase the thumb size */
    height: 15px;
    background: orange;
  }

  .time-start,
  .time-end {
    font-size: 16px; /* Slightly increase the font size for time labels */
  }
}
